# Compiled class file
*.class
/target/

# Log filea
logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE files #
.idea

bin/*
.classpath
.project
.settings

*.kml

INFO6205.iml

Java/src/test/java/edu/neu/coe/info6205/admin/TicketTest.java
